@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
	font-family: 'Poppins', sans-serif;
}
H1{
	margin: 0;
	padding: 0;
	font-size: 120px;
	text-transform: uppercase;

}
h1 span{
	display: inline-flex;
	color: blueviolet;
	
	
}
h1 span:nth-child(even){
	
	overflow: hidden;
	transition: ease-in-out 0.5s;
	color: white;
	border-bottom: 8px solid blueviolet;
	letter-spacing: -1em;
	
	
	
}
h1:hover span:nth-child(even){
	
	letter-spacing: 0;
}

h1:hover span:nth-child(2){
	
	transition-delay: 0s;

}
h1:hover span:nth-child(4){
	
	transition-delay: 0.5s;

}
h1:hover span:nth-child(6){
	
	transition-delay: 1s;

}
