 	
Body{
	margin: 0;
	padding: 0;
	background: black;
	
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	margin: 0;
	padding: 0;
	font-size: 7em;
	font-family: sans-serif;
	color: rgba(180,0,0,0.4);
	text-shadow: -1px -1px -1px #fefefe , 1px 0 0 rgba(136,136,136,0.7);
	transform: rotate(-20deg) skewX(20deg);
}
 

h1:before{
	content: attr(data-title);
	position: absolute;
	left: 0;
	color: #fff;
	transform: translate(33px, 0) skewX(-39deg);
}
